[Desktop Entry]
Encoding=UTF-8
Name=Foo2ZJS Firmware Installer (Hannah)
Exec=/usr/bin/kdesu /usr/bin/hannah
Type=Application
Comment=Foo2ZJS Firmware Downloader and Installer
Terminal=0
Categories=System;Settings;
