Source: foo2zjs
Section: text
Priority: optional
Maintainer: Debian Foo2zjs Maintainers <foo2zjs-maintainer@lists.alioth.debian.org>
Uploaders: Michael Koch <konqueror@gmx.de>, Steffen Joeris <white@debian.org>, Luca Capello <luca@pca.it>
Build-Depends: debhelper (>= 7), ghostscript, dpatch, foomatic-filters, libcups2-dev
Standards-Version: 3.8.3
Homepage: http://foo2zjs.rkkda.com/
Vcs-Svn: svn://svn.debian.org/foo2zjs
Vcs-Browser: http://svn.debian.org/viewsvn/foo2zjs/

Package: foo2zjs
Architecture: any
Depends: ${shlibs:Depends}
Recommends: foomatic-db-engine, wget, tk8.4, tix
Suggests: psutils, hannah-foo2zjs
Description: Support for printing to ZjStream-based printers
 foo2zjs is an open source printer driver for printers that use the
 Zenographics ZjStream wire protocol for their print data, such as the
 Minolta magicolor 2200/2300/2430 DL, Minolta Color PageWorks/Pro L and
 HP LaserJet 1000/1005/1018/1020/1022. These printers are often
 erroneously referred to as "winprinters" or "GDI printers".
 .
 The foomatic-db-engine package is recommended to simplify configuring
 this printer driver.  The psutils package is needed to enable n-up
 printing support.
