[Desktop Entry]
Encoding=UTF-8
Name=Foo2ZJS Firmware Installer (Hannah)
Exec=if [ -x /usr/bin/kdesu ] ; then `which kdesu` /usr/bin/hannah ; else `which gksu` /usr/bin/hannah ; fi
Type=Application
Comment=Foo2ZJS Firmware Downloader and Installer
Terminal=0
Categories=System;Settings;
